.intro {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.texto-intro h1 {
  font-size: 4.5rem;
  font-weight: bold;
  line-height: 1.125;
  margin-bottom: 30px;
  position: relative;
}

.texto-intro h1::before {
  content: "";
  position: absolute;
  display: block;
  background: url("../img/detalhe.svg") no-repeat center;
  width: 140px;
  height: 100px;
  top: -14px;
  left: -40px;
  z-index: -1;
}

.texto-intro p {
  font-size: 1.5rem;
  color: var(--colorc10);
}

@media (max-width: 1080px) {
  .texto-intro h1 {
    font-size: 3rem;
  }

  .texto-intro p {
    font-size: 1.3rem;
  }

  .intro {
    grid-template-columns: 1fr 1fr;
    gap: 100px;
  }
}

@media (max-width: 880px) {
  .intro {
    gap: 80px;
  }

  .texto-intro h1 {
    font-size: 2.6rem;
  }

  .texto-intro h1::before {
    width: 30px;
    height: 10px;
    left: 3px;
    top: -10px;
  }
}

@media (max-width: 660px) {
  .intro img {
    display: none;
  }

  .intro {
    grid-template-columns: 1fr;
  }

  .texto-intro h1,
  p {
    text-align: center;
  }

  .texto-intro p {
    font-size: 1.2rem;
  }

  .texto-intro h1::before {
    display: none;
  }
}
